
import java.nio.file.Paths

params {
	nextflow_dir = "nextflow"
	nextflow_required_version = "20.12.0"
}

report {
	enabled = true
	file = "${params.nextflow_dir}/report.html"
}

timeline {
	enabled = true
	file = "${params.nextflow_dir}/timeline.html"
}

trace {
	enabled = true
	file = "${params.nextflow_dir}/trace.txt"
}

dag {
	enabled = true
	file = "${params.nextflow_dir}/dag.dot"

}

singularity {
	enabled = true
	runOptions = "-B /nemo"
}

process {

   executor = "slurm"
	publish_mode = "copy"
	publish_overwrite = true

	withLabel: libtiff {

	   container = "assets/containers/python/python.sif"

	}

	withLabel: python {

	   container = "assets/containers/python/python.sif"

	}

	publishDir = [
		path: { Paths.get( "pucks" ) },
		mode: publish_mode,
		overwrite: publish_overwrite
	]

	withLabel: matlab {

		module = "matlab/R2019a"

		beforeScript = """
		MCRROOT=/flask/apps/eb/software/MATLAB/R2019a
		LD_LIBRARY_PATH=.:\${MCRROOT}/runtime/glnxa64
		LD_LIBRARY_PATH=\${LD_LIBRARY_PATH}:\${MCRROOT}/bin/glnxa64
		LD_LIBRARY_PATH=\${LD_LIBRARY_PATH}:\${MCRROOT}/sys/os/glnxa64
		LD_LIBRARY_PATH=\${LD_LIBRARY_PATH}:\${MCRROOT}/sys/opengl/lib/glnxa64
		"""
	}

}
